html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  color: white;
  background-color: #181818;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#root {
  height: 100%;
}

input[type="text"] {
  border-radius: 100px;
  padding: 5px 8px;
  border-style: none;
}