.Playlist {
  padding: 15px;
  flex-grow: 1;
}

.Playlist h2 {
  font-weight: lighter;
  font-size: 40px;
  margin: 0 0 15px 0;
}

.Playlist .meta {
  margin-bottom: 30px;
  color: #A0A0A0;
}

.Playlist #add-video {
  width: 400px;
  margin: 0 10px;
}