.Sidebar {
    background-color: #282828;
    height: 100%;
    width: 260px;
    border-top: 1px solid #222222;
    color: #A0A0A0;
    flex-shrink: 0;
    box-sizing: border-box;
}

.Sidebar h3 {
    margin: 0;
    padding: 15px 15px 8px 15px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.Sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Sidebar li a {
    display: block;
    color: #A0A0A0;
    text-decoration: none;
    margin: 0;
    padding: 8px 15px 8px 40px;
}

.Sidebar li a:hover {
    background-color: #444444;
    cursor: pointer;
    color: #EEEEEE;
}

.Sidebar li a.current {
    color: #57adff;
}